.DS_Store
.build/
build/
.swiftpm/
CocoaRestClient.xcodeproj/project.xcworkspace
CocoaRestClient.xcodeproj/xcuserdata
CocoaRestClient.xcworkspace/xcuserdata/
Podfile.lock
Pods/
DerivedData/
*.xcscmblueprint
